.container {
    border-width:2px;
    border-style: solid;
    border-color:blueviolet;
    border-radius: 10px;
    background-color: blanchedalmond;
}
div {
    box-sizing: border-box;
    width:500px;
    padding:5px;
}
div {
    margin: 20px;
}
div {
    padding: 20px;
}
h1 {
    color:lightcoral;
}
h2 {
    color:black;
}
